<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            body {
                padding: 20px;
            }
            textarea {
                width: 900px;
                height: 480px;
            }
        
            div {
                margin-bottom: 20px
            }
        </style>
    </head>
    <body>
        <div>
            <textarea id="txt1"></textarea>
            
        </div>
        <div>
            <button id="btn0" class="btn-primary">Start</button>
            <button id="btn2" class="btn-danger">Stop</button>

            <button id="btn1" class="btn-info">Get</button>
            <button id="btn3" class="btn-info">Clear</button>
        </div>
            
        <script>
            var timer = {};
            var fn = "";
            
            $("#btn0").on("click", function(){
                
                $.ajax({
                    url: '/start_recog',
                    type: 'POST',
                    dataType: 'json',
                }).done(
                    function(json){
                        fn = json['item'];
                    }
                ).fail(
                    function(e){
                        console.log(e);
                        console.log('failed');
                    }
                )
                    
            
            });
            $("#btn1").on("click", function(){
                timer = setInterval(
                    function() {
                        $.ajax({
                            url: '/get_item',
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify({ 'rfn' : fn}),
                            dataType: 'json',
                        }).done(
                            function(json){
                                $("#txt1").val(json['item']);
                            }
                        ).fail(
                            function(e){
                                console.log(e);
                                console.log('failed');
                            }
                        )
                    }, 1000
                )
            });
            $("#btn2").on("click", function(){
                clearInterval(timer);
                             
                $.ajax({
                    url: '/stop',
                    type: 'POST',
                    dataType: 'json',
                }).done(
                    function(json){
                        console.log(json['item']);
                    }
                ).fail(
                    function(e){
                        console.log(e);
                        console.log('failed');
                    }
                )
            });

            $("#btn3").on("click", function(){
                $("#txt1").val("");
                $.ajax({
                    url: '/stop',
                    type: 'POST',
                    dataType: 'json',
                }).done(
                    function(json){
                        console.log(json['item']);
                    }
                ).fail(
                    function(e){
                        console.log(e);
                        console.log('failed');
                    }
                )
            });

        </script>
    </body>
</html>